.auth {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.auth-form {
	display: flex;
	flex-direction: column;
}

.auth-form > h1 {
	text-align: center;
	margin-bottom: 40px;
}


.auth-form > form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 25px;
	width: 100%;

}

.auth-form__div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}


.auth-form__div > label {
	width: 100%;
	text-align: left;
}

.auth-form__div > div {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}

.auth-form__div > input[type="email"],
.auth-form__div > div > input[type="password"],
.auth-form__div > div > input[type="text"],
.auth-form__div > input[type="text"] {
	background: transparent;
	padding: 5px 10px;
	width: 100%;
}


.auth-form > form >  input:not(:placeholder-shown) {
	color: var(--color-white)
}

.auth-register {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
}

.auth-register > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}

.auth-register > p > span {
	font-weight: 700;

}

.auth-register > p > span:hover {
	text-decoration: underline;
	cursor: pointer;
}

.auth-form__status {
	color: red;
}

/*.auth-form > form > div > input[type="submit"] {*/
/*	border: 1px solid var(--color-black);*/
/*	color: var(--color-black);*/
/*}*/

/*.auth-form > form > div > input[type="submit"]:hover {*/

/*}*/