header.header {
    padding: 25px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}

header.header > div  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    cursor: pointer;
}


.header-nav > nav > ul {
    list-style: none;
    display: flex;
    gap: 25px
}

.header-nav__li {
    transition: 0.5s all ease;
    cursor: pointer;
    position: relative;
}

.header-nav__li:hover:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
    transition: height 0.3s;
}

.header-auth > button {
    cursor: pointer;
    border: 1px solid var(--color-white);
    font-weight: 500;
    /* border-radius: 10px; */
    padding: 7.5px 10px;
    background: transparent;
    color: var(--color-white);
}

.header-auth > button:hover {
    color: var(--color-sky-blue);
    background: var(--color-white);
}