header.header {
    padding: 25px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background: var(--color-black);
    color: var(--color-white)
}

header.header.home {
    background: transparent;
    color: var(--color-white);
}

header.header > div  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    cursor: pointer;
}


.header-nav > nav > ul {
    list-style: none;
    display: flex;
    gap: 25px
}

.header-nav__li {
    cursor: pointer;
    position: relative;
}

.header-nav > nav > ul:hover {
    opacity: 0.25;
}

.header-nav__li:hover {
    opacity: 1;
}

.header-nav__li:hover:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
}

.header-auth {
    display: flex;
    gap: 25px;
    align-items: center;
}

.header-auth > button {
    background: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
}

.header-auth > button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.header-auth > span {
    cursor: pointer;
    font-size: 24px;
}

.header-auth > span > svg:hover {
    fill: var(--color-black);
    stroke: var(--color-black);
}

