@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {	
	--main-font: Manrope, sans-serif;
	--color-black: #212121;
	--color-white: #dddddd;
	--color-blue: #1c2e3d;
	--color-light-red: #fcbdb2;
	--color-sky-blue: #101625;
	--color-sky-blue-transparent: rgba(16, 22, 37, 0.25);
}